
# Build results
bin/
obj/
**/bin/
**/obj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Logs
*.log

# OS files
Thumbs.db
.DS_Store

# NuGet
*.nupkg
packages/

# Publish
publish/

# Node
node_modules/
